 .about-hero {
	display:flex;
	justify-content: center;
	align-items:center;

	h2 {
		color:white;
		font-family: "novecento_demibold";
		font-size:2.5rem;
		text-transform:uppercase;


	}
}
.about-container {
    width: 1120px;
    margin-left: auto;
    margin-right: auto;

	h2 {
		text-transform:uppercase;
		font-family: "novecento_demibold";
		font-size:2rem;
	}
	p {
		font-family: "merriweatherlight";
		font-size:1rem;
	}
	.about-section {
	margin: 3rem auto;
    max-width: 800px;
	}

}