.home-hero-image{
	background:  linear-gradient(rgba(0,0,0,0.25) 0, rgba(0,0,0,0.25)), url(../../images/inhabitent-logo-full.svg) no-repeat center center, url(../../images/home-hero.jpg);
	height:100vh;
	background-size:cover, auto, cover;
}
.product-feed-container {
  width:1120px;
  margin:0 auto;

    .site-main {
      display:flex;
      justify-content:space-between;
    }
    .individual-sections {
      flex-basis:24%;
      padding:20px;
      border:1px solid gray;
      text-align:center;


}
    img {
      height:80px;
      width:100px;
      text-align:center;
    }
 }
.inhabitent-journal {
  display:none;
}
.adventures-container {
	width:1120px;
	margin:0 auto;
}
.latest-adventures {
	text-align:center;
	text-transform:uppercase;
	margin-top: 35px;
    margin-bottom: 35px;
}
.adventure-section {
  display: flex;
  flex-wrap:wrap;
  height:600px;
  width:90%;  
  margin: 0 auto;
  margin-bottom:30px;
}
.left-box {
  background: linear-gradient(rgba(0,0,0,0.25) 0, rgba(0,0,0,0.25)),url(../../images/adventure-photos/canoe-girl.jpg) center no-repeat;
  background-size:cover;
  height:100%;
  width:50%;
  border-right: 20px solid white;

  	.entry-title {
  		color:white;
  		
  	}

 }
.top-right {
  width:100%;
  height:50%; 
  border-bottom: 20px white solid;
}
.right-box-bottom {
  display:flex;
  height:50%;
  width:100%;
}
.right-box-top {
  background: linear-gradient(rgba(0,0,0,0.25) 0, rgba(0,0,0,0.25)), url(../../images/adventure-photos/beach-bonfire.jpg) center no-repeat;
  background-size:cover;
  height:100%;
  width:100%;
}
.bottom-right {
  background: linear-gradient(rgba(0,0,0,0.25) 0, rgba(0,0,0,0.25)), url(../../images/adventure-photos/mountain-hikers.jpg) center no-repeat;
  background-size:cover;
  height:100%;
  width:50%;
  border-right: 20px white solid;
}
.bottom-left {
  background: linear-gradient(rgba(0,0,0,0.25) 0, rgba(0,0,0,0.25)), url(../../images/adventure-photos/night-sky.jpg) center no-repeat;
  background-size:cover;
  height:100%;
  width:50%;
}
.right-mix{
  height:100%;
  width:50%;
  display:flex;
  flex-wrap: wrap;
}