.comments-link {

	a {
   color: white;
   text-decoration: none;
 }
}
.social-media-buttons {
	display:flex;
	flex-direction: row;

}
.pin-button, .like-button, .tweet-button {
 border: 1px solid black;
 text-decoration: none;
 font-family: "novecento_normal";
 font-size: .9rem;
 padding: .8rem 1.2rem;
 margin-top: 4%;
 text-transform: uppercase;

 &:visited {
 	color:black;
 }
 &:hover {
   background-color: #248a83;
   border: 1px solid #248a83;
   color: white;
 }
}

.nav-previous, .nav-next {
	display:none;
}
.entry-footer {
  text-transform: uppercase;
  .cat-links {
    margin-right:1rem;
  }
  a{
    text-decoration: none;
    color:#248a83;
  }
}
.comments-area {
  width:700px;

  .comment-list {
    list-style:none;
    margin:0;
    padding:0;

    .comment-content {
      margin-bottom: 2rem;
      border-bottom: 1px solid #e1e1e1;

      .comments-title {
        text-transform: uppercase;
        margin-top:5rem;
      }
    }
  }
}
.reply {
  margin-bottom:1rem;

  .comment-reply-link {
    text-decoration: none;
    color: #248a83;
  }
}
.comment-form {
  .comment-form-author{
    width: 330px;
    float: left;
    margin: 0;
    display: flex;
    flex-wrap: wrap;

    label {
      flex-basis:100%;
    }
    input {
      width:400px;
      margin-right:15px;
    }
  }
  .comment-form-email {
    display: flex;
    flex-wrap: wrap;
    margin: 0;

    label {
      flex-basis:100%;
    }
    input {
      width:400px;
    }
  }
  .comment-form-url{

   input {
    width:700px;
  }
 }
}
